<nav class="social-icons">
    <ul>
        <li>
            <a class="icon" href="/" title="Go to homepage" target="_blank" aria-label="Go to homepage">
                <img src="/icons/home.svg" alt="Home">
            </a>
        </li>
        <li>
            <a class="icon" href="https://github.com/{{ .Site.Params.github }}" title="Github" target="_blank" aria-label="Github">
                <img src="/icons/github.svg" alt="Github">
            </a>
        </li>
        <li>
            <a class="icon" href="https://mastodon.social/@{{ .Site.Params.mastodon }}" title="Mastodon"  target="_blank"aria-label="Mastodon">
                <img src="/icons/mastodon.svg" alt="Mastodon">
            </a>
        </li>
        <li>
            <a class="icon" href="https://twitter.com/{{ .Site.Params.twitter }}" title="Twitter" target="_blank" aria-label="Twitter">
                <img src="/icons/twitter.svg" alt="Twitter">
            </a>
        </li>
        <li>
            <a class="icon" href="/rss.xml" title="RSS feed" target="_blank"  aria-label="RSS feed">
                <img src="/icons/rss.svg" alt="RSS feed">
            </a>
        </li>
    </ul>
</nav>